@(form: Form[CourtData], courts: Seq[Court])(implicit messages: Messages, request: RequestHeader)

@main("Courts"){
  <h1>@courts.size Courts</h1>
  <ul>
    @courts.map{ c =>
      <li>@c.id | @c.name | @c.timezone</li>
    }
  </ul>

  <h2>New Court</h2>

  @helper.form(action = routes.CourtController.create) {
    @helper.CSRF.formField
    @helper.inputText(form("name"))
    @helper.inputText(form("timezone"))

    <input type="submit" value="Submit">

  }

}
<a href='/'>Home</a>
