@()

@main("Virtual Caps") {
  <h1>Play Caps With Me Please</h1>
  <a href='@routes.CourtController.index'>Courts</a>
  <br>
  <a href='@routes.PlayerController.index'>Players</a>
  <br>
  <a href='@routes.GameController.index'>New Game</a>
}
