@(form: Form[GameData])(implicit messages: Messages, request: RequestHeader)

@main("New Game"){
  <h1>New Game</h1>

  @helper.form(action = routes.GameController.create) {
    @helper.CSRF.formField
    @helper.inputText(form("scoreTo"), Symbol("type") -> "number")

    <input type="submit" value="Submit">

  }

}
<a href='/'>Home</a>
