@(form: Form[PlayerData], players: Seq[Player])(implicit messages: Messages, request: RequestHeader)

@main("Players"){
  <h1>@players.size Players</h1>
  <ul>
    @players.map{ p =>
      <li>@p.id | @p.name</li>
    }
  </ul>

  <h2>New Player</h2>

  @helper.form(action = routes.PlayerController.create) {
    @helper.CSRF.formField
    @helper.inputText(form("name"))

    <input type="submit" value="Submit">
  }

}

<a href='/'>Home</a>
